In [2]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [3]:
import numpy as np
import pandas as pd

In [4]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [5]:
#* Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [6]:
engine = create_engine("sqlite:///hawaii.sqlite")
# prepares a database file to be connected to 

Base = automap_base()
# creates a base class for an automap schema in SQLAlchemy

## this concludes setting up our environment, now we can reflect our tables into our database

In [7]:
#* reflect an existing database into a new model

Base.prepare(engine, reflect=True)
# reflecting tables in our database rather than importing, creates classes that help decouple our code
# bear in mind, that our data is stored in classes instead of tables this way

#* reflect the tables

Base.classes.keys()
# the first part of this, 'Base.classes' gives us access to all the classes
# the second part, 'keys()' references the classes that mapped in each table

['measurement', 'station']

In [8]:
#* Save references to each table

Measurement = Base.classes.measurement
Station = Base.classes.station
# in order to reference a specific class, syntax looks like 'Base.classes.<class name>'
# we set these references to variables so they are easier to reference later in our program

In [9]:
#* Create our session (link) from Python to the DB

session = Session(engine)
# this uses a SQLAlchemy command to create a session. Working within this session effectively allows us to query the database

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
#Starting from the last data point in the database. 

# Calculate the date one year from the last date in data set.

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# How many stations are available in this dataset?

In [ ]:
# What are the most active stations?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

In [ ]:
# Write a function called `calc_temps` that will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates

# Challenge